.logo-mobile__icon {
  fill: #111518;
  align-self: center;
}
.logo-mobile__icon--white {
  fill: #ffffff;
}

.logo-mobile__icon--fire {
  fill: #FF6B09;
}

.logo-mobile__box {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

}
.logo__text {
  padding-left: 1px;
  text-transform: uppercase;
  color: #FF6B09;
  font-size: 5px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.18em;
}
.logo__text--black {
  color: #111518;
}
.logo__text--white {
  color: #ffffff;
}
.logo-mobile {
  width: 80px;
  height: 29.14px;
}
